.custom-carousel {
    margin: 0 auto; 
    overflow: hidden; 
    margin-top: 80px;
    height: 350px;
  }
  
  .custom-carousel .carousel-inner img {
    height: 600px; 
    object-fit: cover;
  }
  
  
  @media (max-width: 768px) {
    .custom-carousel .carousel-inner img {
      height: 250px; 
    }
  }
  